%p Thanks for your stores registration at Solomo. This is your verify code;
%center
  %h3= @store.verify_code.to_s.upcase
%p
  Please enter this code into the verify form on
  %a{href: email_stores_registrations_url} Solomo website