@import "compass";

#store_dashboard {
  #store_dashboard_information {
    background-color: #eaeaea;
    padding: 30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: 30px;
    @include display-flex();
    @include align-items(center);
    .avatar {
      @include flex-shrink(0);
      margin-right: 15px;
      background-color: #fff;
      border: 2px #ddd solid;
      padding: 3px;
      overflow: hidden;
      img {
        @include border-radius(100%);  
      }
      @include border-radius(100%);
    }
    .information {
      @include flex-grow(1);
      @include flex-shrink(0);
      .name {
        font-weight: bold;
        font-size: 30px;
      }
      .extras {
        margin-top: 3px;
        .extra {
          color: #777;
          a {
            color: #777;
          }
        }
      }
    }
    .metrics {
      background-color: #fff;
      border: 1px #ddd solid;
      @include border-radius(5px);
      @include flex-shrink(0);
      @include display-flex();
      @include align-items(stretch);
      .metric {
        padding: 15px 20px;
        text-align: center;
        .title {
          color: #aaa;
          margin-bottom: 5px;
        }
        .number {
          font-size: 25px;
          font-weight: bold;
        }
        &:not(last-child) {
          border-right: 1px #ddd solid;
        }
        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
      }
    }
  }
  #store_dashboard_overview {
    .time_filters {
      form {
        & > * {
          margin-left: 5px;
        }
        @include display-flex();
        @include align-items(center);
        .fa {
          margin-right: 0px;
        }
      }
    }
    .tab-pane {
      margin-top: 10px;
      padding: 15px;
      border: 1px #ddd solid;
      @include border-radius(5px);
      position: relative;
      &:nth-child(1) {
        .fl {
          left: 12.5%;
        }
      }
      &:nth-child(2) {
        .fl {
          left: 37.5%;
        }
      }
      &:nth-child(3) {
        .fl {
          left: 62.5%;
        }
      }
      &:nth-child(4) {
        .fl {
          left: 87.5%;
        }
      }
      .fl{
        bottom: 100%;
        height: auto;
        width: auto;
        position: absolute;
        padding: 0px;
        margin: 0px;
        font-weight: lighter;
        background-color: #fff;
        margin-bottom: -1px;
        font-size: 40px;
        line-height: 0px;
        color: #ccc;
        margin-left: -15px;
        .fa {
          margin-right: 0px;
          line-height: 5px;
        }
      }
    }
    .statistic {
      .number {
        font-size: 40px;
        font-weight: bold;
      }
      .delta {
        font-size: 11px;
      }
      .delta0 {
        color: orange;
      }
      .delta1 {
        color: green;
      }
      .delta-1 {
        color: red;
      }
    }
  }
  #store_dashboard_people {
    margin-top: 30px;
  }
  .heading {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px #ddd solid;
    h3 {
      padding: 0px;
      margin: 0px;
    }
  }
}