@import "compass";

.store_post {
  th {
    vertical-align: middle;
  }
  .picture {
    width: 100px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .description {
    width: 400px;
    color: #333;
  }
  .metrics {
    .metric {
      color: #444;
      .fa {
        color: #777;
      }
    }
  }
  .pricing {
    text-align: center;
    .title {
      font-size: 11px;
      color: #aaa;
    }
    .number {
      font-size: 25px;
      font-weight: bold;
    }
  }
  .control {
    width: 75px;
    text-align: center;
  }
}

#store_new_boost {
  .post_info {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .metrics {
    margin-top: 10px;
    @include display-flex();
    @include justify-content(center);
    .metric {
      padding: 5px;
      color: #aaa;
    }
  }
}