.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.top-10
  = render 'stores/registrations/process', step: 4
  #store_registration.top-10
    .panel.panel-default
      .panel-heading
        Finish
      .panel-body.text-center
        .text-center
          = image_tag current_user.avatar.url(:thumb) if current_user.avatar.present?
        %h2 Congratulation
        %p You have just finished the registration to become our offical store.
        .top-30
          .col-md-6.col-md-offset-3
            = link_to 'Get ready to boost your posts', new_stores_payment_path, class: 'btn btn-primary btn-lg btn-block'
            = link_to 'Show all your posts', stores_posts_path, class: 'btn btn-default btn-lg btn-block top-10'