.text-center
  %h3 Store Registration
.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.top-10
  = render 'stores/registrations/process', step: 0
  .panel.panel-default
    .panel-body
      Please fill in your true information about your store. Our staff will verify based on your information including email confirmation, sms confmration etc.
  #store_registration.top-10
    = form_for current_user, url: stores_registrations_path, method: :post do |f|
      = render "stores/registrations/form", f: f
