.text-center
  %h3 Store Registration
.col-md-6.col-md-offset-3.top-10
  %p
    Welcome to Solomo App, where everyone can find their appropriate deal in anywhere. In the digital era, where everything goes online, it makes retail store is old-fashioned. Things are not like this anymore, a new dawn is coming, the dawn of re-innovated store.

  %p
    With Solomo, your fans easily find your deal anywhere, anytime. With each promotion or each deal will be shown on a map to users to reach. No need for location-targeted ads. Users see what you post, where you are, and when to come. On time and on sales.

  %p
    So, why we let users thrive for our deal every day. Join Solomo today and let customers come to you.

  .text-center.top-20
    = link_to 'Join Solomo', new_stores_registrations_path, class: 'btn btn-primary btn-lg'