.text-center
  %h3 Store Registration
.col-md-6.col-md-offset-3.top-10
  %p
    Lorem ipsum dolor sit amet, vim inani mundi lobortis id. Ei phaedrum abhorreant vix. Ex duo magna altera, in vivendo luptatum recusabo mel. Phaedrum accusamus te mea. Ridens noluisse per ad, deseruisse complectitur at eam.

  %p
    Equidem iudicabit ad nam. Has illud nulla at. Utinam delicatissimi eu sea, dolores conceptam eu mel. Solum appetere urbanitas pri id.

  %p
    Et probatus perpetua nec, quando mandamus ut has, laudem fuisset tibique cu cum. Dolore vituperata reformidans sed ei. Ea pri aliquam impedit, audire scriptorem sea an, ridens placerat no has. Sumo summo debitis sed ex. Tollit causae delicata pri ei, mel et rebum libris legimus. No nobis omnes dicam mei, his rebum oblique et. Et duo soleat vocent eripuit, zril singulis argumentum mei at.

  %p
    Ea qui utroque fabellas laboramus, eam no salutatus conceptam instructior. Perfecto intellegebat sea no, sed cu novum laoreet omnesque. Quo cu volumus argumentum consequuntur, quo erat meis ad, in eos semper causae. Eu sea summo nulla munere, qualisque gubergren has cu. Case vidisse reformidans id sit, eum illud adolescens at, mea fugit altera et.

  %p
    Vidisse sapientem scriptorem eos eu, no alia iuvaret eloquentiam mea. Nibh nonumes admodum at pro, ex usu mutat etiam exerci. Quem admodum nec in, alterum lucilius quaerendum ad usu, ipsum ridens tacimates ei vix. Saepe iriure te vix, his ridens indoctum in, ei eam laoreet consequuntur. Aeque definitionem ei sed, mei magna expetendis intellegebat ut. Ius ea pericula signiferumque.

  .text-center.top-20
    = link_to 'Register now', new_stores_registrations_path, class: 'btn btn-primary btn-lg'