.container-fluid
  .panel.panel-default.col-md-6.col-md-offset-3
    .panel-heading
      New post
    .panel-body
      = form_for @post, url: admin_posts_path do |f|
        = render 'admin/posts/form', f: f
  .clearfix
