@import "compass";

.dropdown-menu {
  background-color: #ffffff !important;
  a {
    color: #333 !important;
  }
  li.divider {
    background-color: #eee !important;
  }
  li {
    a:hover {
      background-color: #eaeaea !important;
    }
  }
}

header {
  z-index: 1;
  border-bottom: 1px #eee solid;
  margin-bottom: 15px;

  nav {
    margin-bottom: 0px !important;
    background-color: #3BAFDA;
    @include border-radius(0px !important);
    .navbar-brand {
      color: #fff;
    }
    .dropdown-toggle {
      color: #fff !important;
      &:hover, &[aria-expanded="true"] {
        background-color: #45c2f0 !important;
      }
    }
  }
}

.floating-alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: auto;
  z-index: 1000;
  color: #fff;
}

.process-label-panel {
  position: relative;
  height: 30px;
  .process-label {
    position: absolute;
    width: 100px;
    margin-left: -50px;
    font-size: 10px;
    color: #777;
    text-transform: uppercase;
    top: 0px;
    text-align: center;
    &.active {
      color: #3BAFDA;
    }
  }
}

.fa {
  margin-right:6px;
}

.lx-site-pagination {
  ul li {
    a {
      background-color: #fff;
      border: 1px solid #ddd;
      color: #999;
      &:hover {
        background-color: #eee;
        border: 1px solid #ddd;
        color: #444;
      }
    }
    &.active a {
      background-color: #eee;
      border: 1px solid #ddd;
      color: #444;
      font-weight: bold;
      &:hover {
        background-color: #eee;
        border: 1px solid #ddd;
        color: #444;
      }
    }
  }
}