!!!
%html
  %head
    %title API Documentation
    = stylesheet_link_tag 'documentation', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'documentation', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.documentation
    = yield
